<% if @page.requires_sidebar? %>
  <div class="span-14">
    <%= seed_render_all @articles, "home" %>
    <%= will_paginate @articles %>
  </div>
  <div class="span-5 last">
    <%= seed_page_components %>
    <ul><%= seed_flat_child_links(@page) %></ul>
  </div>

<% else -%>
  <%= seed_render_all @articles, "home" %>
  <%= will_paginate @articles %>
<% end -%>

