<div id="sortableitem_<%= article.id %>" class="article">
  
	<% if editable?(@page) %>
		<span class="seed-admin-tag seed-edit-tag">
			<%= link_to "edit", edit_article_path(@page, article)%>|<%= link_to "X", article_path(@page, article), :confirm => 'Delete this article?', :method => :delete %>
		</span>
	<% end -%>
	
	<% if article.article_type == "article" %>
		<h2><%= article.title %></h2>
		
		<div id="images">
		  <% article.images.each do |image| %>
		  	<a href="<%= image.public_filename %>" class="lightview" rel="gallery[<%= article.id %>]">
          <%= image_tag image.public_filename("#{article.imagesize}") %>
        </a>
		  <% end -%>
		</div>
		
		<%= textilize(article.content) %>
	<% end -%>
	
	<% if article.article_type == "video" %>
		<h2><%= article.title %></h2>
		<% if article.video != "" %>
		<div>
			<object type="application/x-shockwave-flash" data="<%= article.video %>&amp;hl=en&amp;fs=1" width="425" height="344">
			  <param name="movie" value="<%= article.video %>&amp;hl=en&amp;fs=1" />
			  <param name="allowScriptAcess" value="always" />
			  <param name="quality" value="best" />
			  <param name="bgcolor" value="#ffffff" />
			  <param name="scale" value="noScale" />
			  <param name="salign" value="TL" />
			  <param name="allowfullscreen" value="true" />
			  <param name="wmode" value="transparent" />
			  <param name="FlashVars" value="playerMode=embedded" />
			</object>
		</div>
		<% end -%>
		<%= textilize(article.content) %>
	<% end -%>
	<% if article.article_type == "table" %>
		<h2><%= article.title %></h2>
		<%= textilize_without_paragraph(article.content) %>
	<% end -%>
	
</div>
