<div id="sortableitem_<%= article.id %>" class="article">
  
  <% if editable?(@page) -%>
  	<div id="edit-link-<%= article.id %>" style="display:none">
  		<div class="first"><%= link_to "edit", edit_article_path(@page, article)%></div>
  		<div><%= link_to "delete", article_path(@page, article), :confirm => 'Delete this article?', :method => :delete %></div>
  		<!--[if !IE]>--> 
  		<div class="handle"><a>re-order</a></div>
  		<!--<![endif]-->
  	</div>
  <% end -%>
	
	<% if article.article_type == "article" %>
		<h2><%= article.title %></h2>
		
		<% cache "article-#{article.id}-images" do %>
		<div class="images">
		  <% article.images.each do |image| %>
		  	<a href="<%= image.public_filename %>" class="lightview" rel="gallery[<%= article.id %>]">
          <%= image_tag image.public_filename("#{article.imagesize}"), :size => image.thumbnail_size("#{article.imagesize}") %>
        </a>
		  <% end -%>
		</div>
		<% end -%>
		
		<%= textilize(article.content.lstrip) %>
	<% end -%>
	
	<% if article.article_type == "documents" %>
		<h2><%= article.title %></h2>
		<div class="documents">
		  <%= textilize(article.content.lstrip) %>
		  <% article.documents.each do |document| %>
		  	<h5 class="doc"><%= link_to(document.name, document.public_filename) %></h5>
		  <% end -%>
		  <script type="text/javascript" src="http://mediaplayer.yahoo.com/js"></script>
		</div>
	<% end -%>
	
	<% if article.article_type == "video" %>
		<h2 class="handle"><%= article.title %></h2>
		<% if article.video != "" %>
		<div>
			<object type="application/x-shockwave-flash" data="<%= article.parsed_video %>&amp;hl=en&amp;fs=1&amp;ap=%2526fmt%3D18" width="425" height="344">
			  <param name="movie" value="<%= article.parsed_video %>&amp;hl=en&amp;fs=1&amp;ap=%2526fmt%3D18" />
			  <param name="allowScriptAcess" value="always" />
			  <param name="quality" value="best" />
			  <param name="bgcolor" value="#ffffff" />
			  <param name="scale" value="noScale" />
			  <param name="salign" value="TL" />
			  <param name="allowfullscreen" value="true" />
			  <param name="wmode" value="transparent" />
			  <param name="FlashVars" value="playerMode=embedded" />
			</object>
		</div>
		<% end -%>
		<%= textilize(article.content.lstrip) %>
	<% end -%>
	<% if article.article_type == "table" %>
		<h2 class="handle"><%= article.title %></h2>
		<div class="user-table">
		  <%= textilize_without_paragraph(article.content) %>
		</div>
	<% end -%>
	
</div>

<% if editable?(@page) -%>
  <script>
  	new Tip($("sortableitem_<%= article.id %>").down('h2'), $("edit-link-<%= article.id %>"), {style: 'seed-edit'});
  </script>
<% end -%>