<div class="event">
  
	<% if editable?(@page) -%>
		<span class="seed-admin-tag seed-edit-tag">
			<%= link_to "edit", edit_event_path(@page, event)%>|<%= link_to "X", event_path(@page, event), :confirm => 'Delete this event?', :method => :delete %>
		</span>
	<% end -%>
	
	<h2><%= event.name %></h2>
	<h3><%= calendar_date(event.date, event.to_date) %></h3>
	<%= content_tag_if(:h4, "Time: #{calendar_time(event.date, event.all_day?)}", !event.all_day?) %>
	
	<%= textilize(event.description) %>
	<%= content_tag_if(:p, "Location: #{event.location}", !event.location.blank?) %>
	
</div>