<div class="event" id="event_<%= event.id %>">
	
	<% if editable?(@page) -%>
		<div id="edit-event-<%= event.id %>" style="display:none">
			<div class="first"><%= link_to "edit", edit_event_path(@page, event)%></div>
			<div><%= link_to "delete", event_path(@page, event), :confirm => 'Delete this event?', :method => :delete %></div>
		</div>
	<% end -%>
	
	<h2><%= event.name %></h2>
	<h3><%= calendar_date(event.date, event.to_date) %></h3>
	<%= content_tag_if(:h4, "Time: #{calendar_time(event.date, event.all_day?)}", !event.all_day?) %>
	
	<%= textilize(event.description) %>
	<%= content_tag_if(:p, "Location: #{event.location}", !event.location.blank?) %>
	
</div>
<% if editable?(@page) -%>
  <script>
  	new Tip($("event_<%= event.id %>").down('h2'), $("edit-event-<%= event.id %>"), {style: 'seed-edit'});
  </script>
<% end -%>