<div class="newsitem">
	<% if editable?(@page) -%>
		<span class="seed-admin-tag seed-edit-tag">
			<%= link_to "edit", edit_newsitem_path(@page, newsitem)%>|<%= link_to "X", newsitem_path(@page, newsitem), :confirm => 'Delete this newsitem?', :method => :delete %>
		</span>
	<% end -%>
	
	<h2><%= link_to newsitem.title, newsitem_path(@page, newsitem) %></h2>
	<h4><%= simple_date(newsitem.created_at) %></h4>
	
	<div id="images">
    <% newsitem.images.each do |image| %>
    	<a href="<%= image.public_filename %>" class="lightview" rel="gallery[<%= newsitem.id %>]">
        <%= image_tag image.public_filename("#{newsitem.imagesize}"), :size => image.thumbnail_size("#{newsitem.imagesize}") %>
      </a>
    <% end -%>
  </div>
	
	<%= textilize(truncate(newsitem.content, 1000, "... #{link_to '[read more]', newsitem_path(@page, newsitem)}")) %>
	
</div>