<div class="post" id="post_<%= post.id %>">
	
	<% if editable?(@page) -%>
		<div id="edit-link-<%= post.id %>" style="display:none">
			<div><%= link_to "edit", edit_post_path(@page, post)%></div>
			<div><%= link_to "delete", post_path(@page, post), :confirm => 'Delete this post?', :method => :delete %></div>
		</div>
	<% end -%>
	
	<h2><%= link_to post.title, post_path(@page, post) %></h2>
	<h4><%= simple_date(post.created_at) %></h4>
	
	<div id="images">
    <% post.images.each do |image| %>
    	<a href="<%= image.public_filename %>" class="lightview" rel="gallery[<%= post.id %>]">
        <%= image_tag image.public_filename("#{post.imagesize}"), :size => image.thumbnail_size("#{post.imagesize}") %>
      </a>
    <% end -%>
  </div>
  
	<%= textilize(truncate(post.content, 1000, "... #{link_to '[more]', post_path(@page, post)}")) %>
	
	<% if post.commentable? %>
	  <em><%= link_to pluralize(post.comments.size, 'comment'), post_path(@page, post) %></em>
	<% end -%>
	
</div>
<% if editable?(@page) -%>
  <script>
  	new Tip($("post_<%= post.id %>").down('h2'), $("edit-link-<%= post.id %>"), {style: 'seed-edit'});
  </script>
<% end -%>