<div class="span-14">
	<%= title "Login", :h2, :class => "admin" %>
	
	<% form_tag session_path, :class => "seed-admin" do -%>
	<fieldset>
	<div class="input-row">
		<%= label_tag 'login' %>
		<%= text_field_tag 'login', @login %>
	</div>
	
	<div class="input-row">
		<%= label_tag 'password' %>
		<%= password_field_tag 'password', nil %>
	</div>
	
	<div class="input-row">
		<%= label_tag 'remember_me', 'Remember me' %>
		<%= check_box_tag 'remember_me', '1', @remember_me, :style => "width:4%;" %>
	</div>

	</fieldset>
	<div class="submit">
		<%= submit_tag 'Login' %>
		<%= link_to '(I forgot my password)', forgot_password_path %>
	</div>
	<% end -%>
</div>