<div class="component <%= sanitized_class_name(component.title) %>" id="sortablecomponent_<%= component.id %>">
	  
	  <% if editable?(@page) -%>
  		<div id="edit-component-<%= component.id %>" style="display:none">
  			<div><%= link_to "edit", edit_component_path(@page, component)%></div>
  			<div><%= link_to "delete", component_path(@page, component), :confirm => 'Delete this component?', :method => :delete %> </div>
  			<!--[if !IE]>-->  
  			<div class="handle"><a>re-order</a></div>
  			<!--<![endif]-->
  		</div>
  	<% end -%>
	  
	  <%= content_tag(:h3, component.title) %>
	  
	  <% if component.page_feed? %>
      <% component.snippets.each do |snippet| -%>
        <h4><%= link_to(snippet.title, resource_path(component.source, snippet.id)) %></h4>
        <p><%= snippet.component_preview %></p>
      <% end -%>
    <% end -%>
    
    <% if component.documents? %>
      <% component.ordered_documents.each do |document| -%>
        <h4><%= link_to(document.name, document.public_filename) %></h4>
      <% end -%>
    <% end -%>
    
    <% if component.text? %>
      <%= textilize(component.text) %>
    <% end -%>

</div>
<% if editable?(@page) -%>
  <script>
  	new Tip($("sortablecomponent_<%= component.id %>").down('h3'), $("edit-component-<%= component.id %>"), {style: 'seed-edit'});
  </script>
<% end -%>


