<div class="component" id="sortablecomponent_<%= component.id %>">

    <% if editable?(@page) %>
	  	<span class="seed-admin-tag seed-edit-tag">
	  		<%= link_to "edit", edit_component_path(@page, component)%>|<%= link_to "X", component_path(@page, component), :confirm => 'Delete this component?', :method => :delete %>
	      <%= image_tag "icons/drag_handle.gif", :size => "11x11", :class => "handle" %>
	  	</span>
	  <% end -%>
	  
	  <%= content_tag(:h3, component.title) %>
	  
	  <% if component.page_feed? %>
      <% component.snippets.each do |snippet| -%>
        <h4><%= link_to(snippet.title, resource_path(component.source, snippet.id)) %></h4>
      <% end -%>
    <% end -%>
    
    <% if component.documents? %>
      <% component.documents.each do |document| -%>
        <h4><%= link_to(document.name, document.public_filename) %></h4>
      <% end -%>
    <% end -%>

</div>


