<% form_for @component, :url => component_path(@page, @component), :html => {:class => "seed-admin", :id => "changer"} do |f| -%>
  <%= f.error_messages %>
  <fieldset>
    <div class="input-row">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="input-row">
      <%= f.label :order, "Sort Order" %>
      <%= f.select(:order, Component::ORDER_OPTIONS) %>
    </div>
  </fieldset>
  <%= f.hidden_field :component_type, :value => "documents" %>
  <div id="document-ids">
	  <% @component.documents.each do |document| %>
		  <%= hidden_field_tag "component[document_ids][]", document.id, :id => "hidden_document_tag_#{document.id}" %>
	  <% end -%>
  </div>
  <div>
    <%= f.submit submit %> or <%= link_to_function 'cancel', 'history.go(-1)' %>
  </div>
<% end %>

<div id="form-documents">
  
		<%= link_to_lightview( "Attach Document", new_document_path, 
				{:class => "button"}, {:title => "'Document Upload'"}, {:autosize => false, :width => 400, :height => 250} )%>
		
		<table id="document-table" class="seed-admin">
		  <%= render :partial => "documents/document", :collection => @component.documents %>
		</table>
		
</div>