<div id="sortableitems">
<% for newsitem in @page.newsitems %>
	<div div id="sortableitem_<%= newsitem.id %>" class="newsitem">
		<% if editable?(@page) %>
			<span class="seed-admin-tag seed-edit-tag">
				<%= link_to "edit", edit_newsitem_path(@page, newsitem)%>|<%= link_to "X", newsitem_path(@page, newsitem), :confirm => 'Delete this newsitem?', :method => :delete %>
			</span>
		<% end -%>
		<h3><%= newsitem.title %></h3>
		<%= textilize(newsitem.content) %>
	</div>
<% end -%>
</div>
<% if logged_in? %>
<%= sortable_element('sortableitems',  
					 :url => {:controller => "javascript", :action => "update_article_order", :class_name => newsitem.class.name},
					 :tag => :div) %>
<% end -%>