<div class="newsitem" id="newsitem_<%= @newsitem.id %>">
	
	<% if editable?(@page) -%>
		<div id="edit-link-<%= @newsitem.id %>" style="display:none">
			<div class="first"><%= link_to "edit", edit_newsitem_path(@page, @newsitem)%></div>
			<div><%= link_to "delete", newsitem_path(@page, @newsitem), :confirm => 'Delete this newsitem?', :method => :delete %></div>
		</div>
	<% end -%>
	
	<h2><%= @newsitem.title %></h2>
	<h4><%= simple_date(@newsitem.created_at) %></h4>
	
	<div id="images">
	  <% @newsitem.images.each do |image| -%>
	  	<a href="<%= image.public_filename %>" class="lightview" rel="gallery[<%= @newsitem.id %>]">
        <%= image_tag image.public_filename("#{@newsitem.imagesize}") %>
      </a>
	  <% end -%>
	</div>
	
	<%= textilize(@newsitem.content) %>
	
	<%= link_to "Read more news items...", newsitems_path(@page) %>
</div>
<% if editable?(@page) -%>
  <script>
  	new Tip($("newsitem_<%= @newsitem.id %>").down('h2'), $("edit-link-<%= @newsitem.id %>"), {style: 'seed-edit'});
  </script>
<% end -%>