<% if @page.parent && !@page.parent.parent_id.nil? %>
 <% if viewable?(@page.parent ) -%>
 <ul>
  <li class="<%= menu_current?(@page.parent) %>"><%= link_to @page.parent.name, resources_path(@page.parent) %></li>
 </ul>
 <% end -%>
<% end -%>

<ul>
  <% flatmenu.each do |item| %>
  
    <% if viewable?(item) -%>
      <li class="<%= menu_current?(item) %>"><%= link_to item.name, resources_path(item) %></li>
    <% end -%>
    
    <% item.children.each do |child| %>
      <% if viewable?(child) -%>
      <li class="sub <%= menu_current?(child) %>"><%= link_to child.name, resources_path(child) %></li>
      <% end -%>
    <% end -%>
    
  <% end -%>
</ul>