<div class="<%= container %>">
  <div id="<%= type %>-menu">
    
  	<ul id="<%= sortable_id %>" class="menu <%= orientation %>">
  		<%= render :partial => "layouts/shared/menu", :collection => collection %>
  	</ul>
  	
  </div>
</div>
