<div class="<%= container %>">
  <div id="<%= type %>-menu">
    
  	<ul id="<%= sortable_id %>" class="menu <%= orientation %> dropdown">
  		<%= render :partial => "layouts/shared/menu", :collection => Page.pages_menu(type) %>
  	</ul>
  </div>
</div>

