<% cache "#{type}_menu" do %>
<div class="<%= container %>">
  <div id="<%= type %>-menu">
    
  	<ul id="<%= sortable_id %>" class="menu <%= orientation %> dropdown">
  		<%= render :partial => "layouts/shared/menu", :collection => Page.pages_menu(type) %>
  	</ul>
  	<![if !IE]>
  	<% if logged_in? && current_user.has_role?(:admin) -%>
      <%= sortable_element(sortable_id,  
                 :url => {:controller => "javascript", :action => "update_page_order"},
                 :tree => true,
                 :constraint => false,
                 :only => "sortable",
                 :handle => 'handle') %>
    <% end -%>
    <![endif]>
  </div>
</div>
<% end -%>
