<% if viewable?(menu) -%>
	<li class="level_<%= menu.tree_level %> sortable <%= 'parent' if !menu.children.size.zero? %>" id="page_<%= menu.id %>">
	    <%= link_to menu.name, resources_path(menu) %>
	    <% if editable?(menu) -%>
	    	  <span class="seed-admin-tag"><%= link_to "edit", edit_page_path(menu) %>|<%= link_to "X", page_path(menu), :confirm => 'Delete this page and all associated articles?', :method => :delete %></span>
	    	  <%= image_tag "icons/drag_handle.gif", :size => "11x11", :class => "handle" %>
		  <% end -%>
	
		  <% if !menu.children.size.zero? -%>
		  	 <ul class="menuchild">
		  	 <% for child in menu.children -%>
		  	   <li class="level_<%= child.tree_level %> sortable" id="page_<%= child.id %>">
	  			 <%= link_to child.name, articles_path(child) %>
	  			 <% if editable?(child) -%>
	  			   <span class="seed-admin-tag"><%= link_to "edit", edit_page_path(child) %>|<%= link_to "X", page_path(child), :confirm => 'Delete this page and all associated articles?', :method => :delete %></span>
	  			   <%= image_tag "icons/drag_handle.gif", :size => "11x11", :class => "handle" %>
				   <% end -%>
	  		   </li>
		  	 <% end -%>
		  	 </ul>
		  <% end -%>
	</li>
<% end -%>



