<% if logged_in? -%>
  <ul id="<%= container %>">
  	<li><%= image_tag "icons/process.png", :size => "16x16" %></li>
  	<li>Logged in as <%= link_to_current_user :content_method => :login %></li>
  	<li>[<%= link_to "Log out", logout_path, { :title => "Log out" } %>]</li>
  	
  	<% if current_user.has_role?("admin") %>
  	  <li> | <%= link_to "USERS", users_path %></li>
  	  <li><%= link_to "ROLES", roles_path %></li>
  	<% end -%>

  </ul>
<% end -%>