<% form_for(@article, :url => article_path(@page, @article), :html => {:class => "seed-admin tight", :id => "changer"}) do |f| %>
  <%= f.error_messages %>
  <fieldset>
  <div class="input-row">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="input-row">
    <%= f.label :content, "Table Data" %>
    <%= f.text_area :content %>
  </div>
  </fieldset>
  <div>
	<%= f.hidden_field :page_id %>
	<%= hidden_field :article, :content_type, {:value => "table"} %>
    <%= f.submit "#{submit}" %> or <%= link_to_function 'cancel', 'history.go(-1)' %>
  </div>
  
<% end %>

<div id="form-sidebar">
	<div id="seed-notes">
		<h4>Post Style:</h4>
		<h5>Table</h5>
		<p>Create a table by entering special field separators between the data that you wish to tabulate.</p> 
		<p>Use a | to separate columns.</p>
		<p>Start a new line for each new row.</p>
		<p>| age | sex |</p>
		<p>| 43 | male |</p>
		<p>Have a look at the <a href="">markup guide</a> for more complex table options.</p>
	</div>
</div>