<% form_for(@article, :url => article_path(@page, @article), :html => {:class => "seed-admin tight", :id => "changer"}) do |f| %>
  <%= f.error_messages %>
  <fieldset>
  <div class="input-row">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="input-row">
    <%= f.label :video, "Video URL" %>
    <%= f.text_field :video %>
  </div>
  <p><small>Currently only works with YouTube.<br />(ie. http://youtube.com/watch?v=5cGvqs-jf_w)</small></p>
  <div class="input-row">
    <%= f.label :content, "Caption" %>
    <%= display_speech_marks(f.text_area :content, :class => "compact") %>
  </div>
  </fieldset>
  <div class="submit">
	<%= f.hidden_field :page_id %>
	<%= hidden_field :article, :article_type, {:value => "video"} %>
    <%= f.submit "#{submit}" %> or <%= link_to_function 'cancel', 'history.go(-1)' %>
  </div>
  
<% end %>

<div id="form-sidebar">
	<div id="seed-notes">
		<h4>Post Style:</h4>
		<h5>Video</h5>
		<p>Entering a video URL from sites like YouTube or Vimeo will display video inside your article.</p> 
		<p>You can also enter a title for the video and caption.</p>
	</div>
</div>