<div id="articles">
<% for article in @page.articles %>
	<div div id="article_<%= article.id %>" class="article">
		<span class="seed-admin-tag seed-edit-tag">
			<%= link_to "edit", edit_page_article_path(@page, article)%>|<%= link_to "X", page_article_path(@page, article), :confirm => 'Delete this article?', :method => :delete %>
		</span>
		<h3><%= article.title %></h3>
		<p><%= article.content %></p>
	</div>
<% end -%>
</div>
<%= sortable_element('articles',  
					 :url => {:controller => "javascript", :action => "update_article_order"},
					 :tag => :div) %>