<div id="seed-admin-form">
	<h2 class="admin">New article</h2>
	
	<ul id="formtabs">
		<li class="articletab"><%= form_tab_link "Article", "Create", "selected" %></li>
		<li class="videotab"><%= form_tab_link "Video", "Create" %></li>
		<li class="tabletab"><%= form_tab_link "Table", "Create" %></li>
		<li class="documentstab"><%= form_tab_link "Documents", "Create" %></li>
	</ul>
	<div id="tabbedform">
		<%= render :partial => "article", :locals => {:submit => "Create"} %>
	</div>
</div>