<tr class="<%= cycle("even", "odd") %>" id="user_<%= user.id %>">
	<td><strong><%= user.name %></strong></td>
	<td><%= user.login %></td>
	<td><%= user.email %></td>
	<td><%= boolean_to_string(user.active?, "active", "not activated") %></td>
	<% if @role %>
    <td><span class="seed-admin-tag">
	  <%= link_to_remote("remove", 
	  :url => {:controller => "javascript",
	  		 :action => "remove_role", 
	  		 :id => user.id, 
	  		 :role => @role,
	  }) %></td>
	<% end -%>
	<td>
	   <span class="seed-admin-tag seed-edit-tag">
	   	<%= link_to "X", user_path(user), :confirm => 'Are you sure you want to delete this User? The account will be completely removed and the user will no longer have login access to the site.', :method => :delete %>
	   </span>
	</td>
</tr>