<table class="seed-admin">
	<tr>
		<th>Name</th>
		<th>Login</th>
		<th>Email</th>
		<th></th>
		<th>Roles</th>
		<th></th>
	</tr>
	<% @users.each do |user| %>
	<tr class="<%= cycle("odd", "even") %>">
		<td><strong><%= user.name %></strong></td>
		<td><%= user.login %></td>
		<td><%= user.email %></td>
		<td><%= boolean_to_string(user.active?, "active", "not activated") %></td>
		<td>
			<% user.roles.each do |role| %>
				<%= "#{role.name} " %>
			<% end -%>
		</td>
		<td>
		   <span class="seed-admin-tag seed-edit-tag">
		   	<%= link_to "X", user_path(user), :confirm => 'Delete this user?', :method => :delete %>
		   </span>
		</td>
	</tr>
	<% end -%>
</table>
