<% form_for(@page, :html => {:class => "seed-admin"}) do |f| %>
  <%= f.error_messages %>
  <fieldset>
  <div class="input-row">
    <%= f.label :title, "Page Title:" %>
    <%= f.text_field :title %>
  </div>
  <div class="input-row">
    <%= f.label :name, "Name: (for menu)" %>
    <%= f.text_field :name %>
  </div>
  <div class="input-row">
    <%= f.label :description , "Description:"%>
    <%= f.text_field :description %>
  </div>
  <% if secondary_menu? %>
  	<div class="input-row">
  	  <%= f.label :menu_type, "Belongs To:" %>
  	  <%= f.select(:menu_type, Page::MENUS) %>
  	</div>
	<% observe_id = (params[:id]) ? params[:id] : "0" %>
	<%= observe_field :page_menu_type, 
					  :url => { :controller => :javascript, :action => :replace_page_menu_type },
					  :method => :get,
					  :with => "'menu_type=' + value + '&action=' + 'new' + '&id=' + #{observe_id}" %>
  <% end -%>
  <div class="input-row">
    <%= f.label :parent_id, "Parent Page:" %>
    <%= render :partial => "menu_type" %>
  </div>
  <div class="input-row">
    <%= f.label :kind, "Page Type:" %>
	<%= f.select(:kind, Page::KIND) %>
  </div>
  <div class="input-row">
    <%= f.label :viewable_by, "Viewable by:" %>
    <%= f.collection_select(:viewable_by, Role.pages_for_viewable_by, :name, :capitalised_name) %>
  </div>
  <div class="input-row">
    <%= f.label :editable_by, "Editable by:" %>
	<%= f.collection_select(:editable_by, Role.pages_for_editable_by, :name, :capitalised_name) %>
  </div>
  <div class="input-row">
    <%= f.label :paginate, "Pagination:" %>
	<%= f.select(:paginate, Page::PAGINATION) %>
  </div>
  </fieldset>
  <div>
    <%= f.submit submit %> or <%= link_to_function 'cancel', 'history.go(-1)' %>
  </div>
<% end %>
