<% form_for(@page, :html => {:class => "seed-admin"}) do |f| %>
  <%= f.error_messages %>
  <fieldset>
  <div class="input-row">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="input-row">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="input-row">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="input-row">
    <%= f.label :parent_id %>
	<select id="page_parent_id" name="page[parent_id]">
		<option value="">Top Level</option>
    	<%= options_from_collection_for_select(@pages, :id, :name) %>
	</select>
  </div>
  <div class="input-row">
    <%= f.label :paginate %>
    <%= f.text_field :paginate %>
  </div>
  </fieldset>
  <div>
    <%= f.submit submit %> or <%= link_to_function 'cancel', 'history.go(-1)' %>
  </div>
<% end %>
