<div id="seed-admin-page" class="page-control">
  <%= title("Page Access") %>
  
  <ul id="titles">
    <li>
      <span>Page</span>
      <span>Viewable By</span>
      <span>Editable By</span>
    </li>
  </ul>
  
  <ul id="parent_0" class="top"><%= render :partial => "page", :collection => Page.pages_menu %></ul>
  
  <% if secondary_menu? %>
    <ul id="titles2">
      <li>
        <span>Page</span>
        <span>Viewable By</span>
        <span>Editable By</span>
      </li>
    </ul>
    <ul id="parent_00"><%= render :partial => "page", :collection => Page.pages_menu("secondary") %></ul>
	<% end -%>
	
	<ul id="spacer">&nbsp;</ul>

</div>

<![if !IE]>
  <%= sortable_element("parent_0",  
             :url => {:controller => "javascript", :action => "update_page_order"},
             :containment => @parents,
             :constraint => false,
             :overlap => "horizontal",
             :handle => "name") %>
  <%= sortable_element("parent_00",  
             :url => {:controller => "javascript", :action => "update_page_order"},
             :containment => @parents,
             :constraint => false,
             :handle => "name",
             :constraint => false) %>
<![endif]>