<div>
	<%= image_tag "spinner.gif", :id => 'spinner', :size => "31x31", :alt => 'spinner', :style => "display:none;" %>
	<ul id="ajax-error"></ul>
	
	<% form_for(@document, :html => { :multipart => true, 
								   :method => :post,
								   :target => "upload_frame",
								   :class => "seed-admin ajax", 
								   :id => "ajax_create" }) do |f| %>
	  <div id="ajax" class="fieldset">
	    <div class="input-row">
	      <%= f.label :name, "Name: <small>(required)</small>" %>
	      <%= f.text_field :name %>
	    </div>
	    <div class="input-row">
	      <%= f.label :uploaded_data, "Choose a document to upload" %>
		    <%= f.file_field :uploaded_data %>
	    </div>
	  </div>
	  <%= hidden_field_tag :for, params[:for] %>
	  <div class="submit">
	    <%= submit_tag 'Upload', :onclick => "Element.show('spinner')" %> or <%= link_to_function 'cancel', "Lightview.hide();" %>
	  </div>
	
	  <iframe id='upload_frame' name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>

	<% end -%>
</div>