<div id="seed-admin-form">
<%= title "Forgot Your Password?", :h2 %>
<% form_for @password, :html => {:class => "seed-admin"} do |f| %>
  <%= f.error_messages %>
	<fieldset>
		<legend>Enter Your Email Address</legend>
			<div class="input-row">			
		    <%= f.label :email %>
		    <%= f.text_field :email %>
			</div>
	</fieldset>
	<div><%= f.submit "Submit" %></div>
<% end %>
</div>

