<div class="button">
<%= content_tag(:span, link_to("Add Role", :controller => "roles", :action => "new"),
		            :class => "seed-admin-tag") %>
</div>
<% for role in @roles %>
	<table class="seed-admin seed-roles" id="<%= role.name %>_table">
		<tr>
			<th>Group</th>
			<th>Description</th>
			<th colspan="3" class="addlink">
				<span class="seed-admin-tag">
				<%= link_to_lightview( "Add User to the #{role.name} group",
						{:controller => 'javascript', :action => 'list_users', :role => role.id}, 
	        			{}, 
	        			{:title => "'Click to add to #{role.name} group'"}, 
	        			{:autosize => false, :width => 250, :height => 350} 
	      		)%>	
				</span>
			</th>
		</tr>
		<tr class="role">
			<td class="role"><strong><%= role.name %></strong></td>
			<td colspan="4"><%= role.description %></td>
		</tr>
		<tr class="usertitle">
			<th class="editrole">
				<span class="seed-admin-tag seed-edit-tag">
					<%= link_to "edit", edit_role_path(role)%>|<%= link_to "X", role_path(role), :confirm => 'Delete this role?', :method => :delete %>
				</span>
			</th>
			<th>User Name</th>
			<th>Login</th>
			<th>Email</th>
			<th></th>
		</tr>
		<%= render :partial => "userrow", :collection => role.users, :locals => {:roleid => role.id} %>
	</table>
<% end -%>



