<div class="span-12">
<% form_for(@article, :url => post_path(@page, @article), :html => {:class => "seed-admin tight"}) do |f| %>
  <%= f.error_messages %>
  <fieldset>
  <div class="input-row">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div id="image-size-options">
  <% if !@article.images.empty? %>
  	<%= render :partial => "articles/image_size_options" %>
  <% end -%>
  </div>
  <div class="input-row">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div class="commentable-row">
    <%= f.label :commentable, "Comments for this post:" %>
    <%= f.radio_button :commentable, true, :style => "display:inline" %>On
    <%= f.radio_button :commentable, false %>Off
  </div>
  </fieldset>
  <%= f.hidden_field :page_id %>
  <%= f.hidden_field :article_type, {:value => "post"} %>
  <%= f.hidden_field :author, {:value => current_user.name} %>

  <div id="image-ids" class="submit">
	<% @article.images.each do |image| %>
		<%= hidden_field_tag "article[image_ids][]", image.id, :id => "hidden_image_tag_#{image.id}" %>
	<% end -%>
    <%= f.submit "#{submit}" %> or <%= link_to_function 'cancel', 'history.go(-1)' %>
  </div>
<% end %>
</div>

<div class="span-5">
	<div id="seed-notes">
		<h4>Post Style:</h4>
		<h5>Blog Post</h5>
		<p>General purpose post containing text and images.</p> 
	</div>
	
	<div id="image-control">
		<%= link_to_lightview( "Add Image",
				new_image_path, 
				{:class => "add"}, {:title => "'Image Upload'"}, {:autosize => false, :width => 400, :height => 250} )%>
		<div id="image-list">
			<%= render :partial => "images/image_item", :collection => @images %>
		</div>
	</div>
</div>



