<div class="article">
	<% if editable?(@page) -%>
		<span class="seed-admin-tag seed-edit-tag">
			<%= link_to "edit", edit_post_path(@page, @post)%>|<%= link_to "X", post_path(@page, @post), :confirm => 'Delete this post?', :method => :delete %>
		</span>
	<% end -%>
	
	<h3><%= @post.title %></h3>
	<h4><%= format_date(@post.created_at, true) %></h4>
	
	<div id="images">
	  <% @post.images.each do |image| -%>
	  	<a href="<%= image.public_filename %>" class="lightview" rel="gallery[<%= @post.id %>]">
        <%= image_tag image.public_filename("#{@post.imagesize}") %>
      </a>
	  <% end -%>
	</div>
	
	<%= textilize(@post.content) %>
</div>
<div id="comments">
	<% for comment in @comments -%>
		<div class="comment">
			<% if editable?(@page) -%>
				<span class="seed-admin-tag seed-edit-tag">
					<%= link_to "X", comment_path(comment, :page_id => params[:page_id]), :confirm => 'Delete this comment?', :method => :delete %>
				</span>
			<% end -%>
			<%= link_to_unless(comment.website.blank?, comment.name, comment.website) %>
			<%= textilize(comment.comment) %>
		</div>
	<% end -%>	
</div>
<% if @post.commentable? %>
  <%= render :partial => "comment" %>
<% end -%>