<div class="post">
	<% if editable?(@page) -%>
		<span class="seed-admin-tag seed-edit-tag">
			<%= link_to "edit", edit_post_path(@page, @post)%>|<%= link_to "X", post_path(@page, @post), :confirm => 'Delete this post?', :method => :delete %>
		</span>
	<% end -%>
	
	<h2><%= @post.title %></h2>
	<h4>By <%= @post.author %>, <%= simple_date(@post.created_at) %></h4>
	
	<div id="images">
	  <% @post.images.each do |image| -%>
	  	<a href="<%= image.public_filename %>" class="lightview" rel="gallery[<%= @post.id %>]">
        <%= image_tag image.public_filename("#{@post.imagesize}") %>
      </a>
	  <% end -%>
	</div>
	
	<%= textilize(@post.content) %>
</div>

<div id="comments">
	<% if @post.comments %>
	  <h3>Comments (<%= @post.comments.size %>)</h3>
	  <%= render :partial => "comment", :collection => @post.comments %>
	<% end -%>
</div>

<% if @post.commentable? %>
  <%= render :partial => "commentform" %>
<% end -%>