<div class="post" id="post_<%= @post.id %>">
	
	<% if editable?(@page) -%>
		<div id="edit-link-<%= @post.id %>" style="display:none">
			<div class="first"><%= link_to "edit", edit_post_path(@page, @post)%></div>
			<div><%= link_to "delete", post_path(@page, @post), :confirm => 'Delete this post?', :method => :delete %></div>
		</div>
	<% end -%>
	
	<h2><%= @post.title %></h2>
	<h4>By <%= @post.author %>, <%= simple_date(@post.created_at) %></h4>
	
	<div id="images">
	  <% @post.images.each do |image| -%>
	  	<a href="<%= image.public_filename %>" class="lightview" rel="gallery[<%= @post.id %>]">
        <%= image_tag image.public_filename("#{@post.imagesize}") %>
      </a>
	  <% end -%>
	</div>
	
	<%= textilize(@post.content) %>
</div>
<% if editable?(@page) -%>
  <script>
  	new Tip($("post_<%= @post.id %>").down('h2'), $("edit-link-<%= @post.id %>"), {style: 'seed-edit'});
  </script>
<% end -%>

<div id="comments">
	<% if !@post.comments.size.zero? %>
	  <h3>Comments (<%= @post.comments.size %>)</h3>
	  <%= render :partial => "comment", :collection => @post.comments %>
	<% end -%>
</div>

<% if @post.commentable? %>
  <%= render :partial => "commentform" %>
<% end -%>