<% if logged_in? && current_user.has_role?("admin") %>
<ul id="seed-admin-menu">
	<li><%= image_tag "icons/process.png", :size => "16x16" %></li>
  	<li><%= link_to "Galleries", "" %></li>
	<li><%= link_to "Documents", "" %></li>
	<li><%= link_to "Users", users_path %></li>
	<li><%= link_to "Roles", roles_path %></li>
</ul>
<% end -%>
