<% if !primary_horizontal? %>
<div id="primary-menu">
	<ul id="menupages" class="menu">
		<%= render :partial => "layouts/menu", :collection => @primary_pages %>
		<% if logged_in? && current_user.has_role?(:admin) %>
			<span class="seed-admin-tag seed-edit-tag"><%= link_to "Add Page", new_page_path %></span> 
		<% end -%>
	</ul>
	<% if logged_in? %>
	<%= sortable_element('menupages',  
						 :url => {:controller => "javascript", :action => "update_page_order"},
						 :tree => true,
						 :handle => 'handle') %>
	<% end -%>
</div>
<% end -%>
<% if secondary_menu? && !secondary_horizontal? %>
<div id="secondary-menu">
	<ul id="menupages2" class="menu">
	<%= render :partial => "layouts/menu", :collection => @secondary_pages %>
	</ul>
	<% if logged_in? %>
	<%= sortable_element('menupages2',  
						 :url => {:controller => "javascript", :action => "update_page_order"},
						 :tree => true,
						 :handle => 'handle') %>
	<% end -%>
</div>
<% end -%>