<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><%= seed_head_title %></title>
		<%= seed_head_elements %>
	</head>
	<body>
	  <%= seed_user_bar %>
	  <%= seed_admin_messages %>
		<div class="container showgrid">
			<div>
			  <div class="span-18">
			    <%= seed_page_title %>
				  <%= seed_page_description %>
				</div>
				<div class="span-6 last"><%= seed_site_search %></div>
			</div>
			<hr />
			
			<%= seed_secondary_menu "horizontal" %>
			
			<div class="span-5">
				<%= seed_primary_menu %>
			</div>
			
			<div><%= yield %></div>
			<hr />
			<div>
				<strong>Seed</strong> | a Common Sense CMS from <a style="text-decoration:none" href="http://www.the-media-collective.com">The Media Collective</a>
			</div>
			
		</div>
	</body>
</html>
