<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><%= seed_head_title %></title>
		<%= seed_head_elements %>
	</head>
	<body>
	  <%= seed_user_bar %>
	  <%= seed_admin_messages %>
		<div id="container">
			<div id="head">
				<%= seed_site_search %>
				<%= seed_page_title %>
				<%= seed_page_description %>
				<%= seed_create_tags %>
			</div>
			
			<%= seed_secondary_menu "horizontal" %>
			
			<div id="left">
				<%= seed_primary_menu %>
			</div>
			
			<div id="right">
				<%= content_tag(:div, yield, :class => seed_page_class(@page)) %>
			</div>
			
			<div id="foot">
				<strong>Seed</strong> | a Common Sense CMS from The Media Collective
			</div>
			
		</div>
	</body>
</html>
